.static-stars ul {
    list-style-type: none;
    padding: 0;
}

.static-stars ul > li {
    display: inline-block;
}

.uncolored.fa {
    font-size: 2em;
    color: #ccc;
}

.colored.fa {
    font-size: 2em;
    color: #FFCC36;
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;
}

.rating-stars ul > li.star {
    display: inline-block;
}

.rating-stars ul > li.star > i.fa {
    font-size: 2em;
    color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
    cursor:pointer;
    color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}